<div class="row row-h-center">
    <div>
        <div class="img-container">
            <img src="assets/img/james_maine.jpg" alt="">
            <small>Me and my wife Elizabeth in Maine - 8/2018</small>
        </div>
    </div>
    <p class="word-box">
        Originally studying biology to apply for medical school, I discovered my love for coding late into my
        undergraduate studies by way of an elective programming course. Deciding to finish my studies in biology while
        also pursuing my new-found interest in coding, I completed my bachelor's degree in biology in May 2016 before
        transferring to a new school to earn a degree in computer science. I finished my computer science degree in May
        2018 while working as an intern at a startup in Glen Allen, VA called Moonlighting. Soon after my second
        graduation, I was offered my first full-fledged software dev job at Moonlighting where I have been working ever
        since.
        <br>
        <br>
        -- what I do at work / my skills
        <br>
        <br>
        -- what I like to do (programming)
        <br>
        <br>
        -- personal bit
        <br>
        <br>
        -- CTA
    </p>

</div>