/* Body, normalization styles, variables */

:root {
    /* Colors */
    --dark-grey: #484848;
    --light-grey: #d8d8d8;

    /* BG Colors */
    --bg-color-light: #fbfbfb;
    --bg-color-dark: var(--dark-grey);

    --bg-color-primary: var(--bg-color-light);
    --bg-color-tertiary: var(--bg-color-dark);

    /* Text Colors */
    --text-color-primary: var(--dark-grey);
    --text-color-secondary: #fbfbfb;
    --text-color-tertiary: var(--light-grey);

    /* Box Shadows */
    --box-shadow-primary: 0 0 4px 2px black;

    --text-shadow-primary: 2px 2px 2px black;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

/* Generic Structural Classes */

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.row-v-center {
    align-items: center;
}

.row-h-center {
    justify-content: center;
}

.row-center {
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-center {
    justify-content: center;
    align-items: center;
}

.col-v-center {
    justify-content: center;
}

.col-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.col-left {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

/* Sitewide Standard Styles */

a[routerLink] {
    cursor: pointer;
    transition-duration: 50ms;
    transition-property: transform, color, text-shadow;
    transition-timing-function: ease;
    color: white;
    user-select: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a[routerLink]:hover:not(:focus):not(:active) {
    text-shadow: var(--text-shadow-primary);
    transform: scale(1.1);
}

a[routerLink]:focus {
}

ul.horrizontal-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul.horrizontal-list li {
    display: inline-flex;
    padding: 2px;
}

ul.horrizontal-list > li:not(:first-of-type) {
    margin-left: 8px;
}

ul.vertical-list li {
    display: inline-flex;
    padding: 2px;
}

ul.vertical-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

ul.vertical-list > li:not(:first-of-type) {
    margin-top: 8px;
}

/* Utility Classes */

.padding-5 {
    padding: 5px;
}

.padding-15 {
    padding: 15px;
}

.padding-sides-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    .hidden-sm-up {
        display: none!important
    }
}

@media (max-width: 767px) {
    .hidden-xs-down {
        display: none!important;
    }
}

.shadowed {
    box-shadow: var(--box-shadow-primary);
}

.contained {
    padding-left: 20%;
    padding-right: 20%;
}

@media (max-width: 767px) {

    .contained {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0;
        padding-right: 0;
    }
}

.text-center {
    text-align: center;
}

.word-box {
    display: inline-block;
    padding: 20px;
}